In [1]:
# Imports
import pandas as pd
import numpy as np
import quandl

In [2]:
# quandl.ApiConfig.api_key = ''

# load Google Stock data
df = quandl.get('WIKI/GOOGL')

df.head()

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2004-08-19,100.01,104.06,95.96,100.335,44659000,0,1,50.159839,52.191109,48.128568,50.322842,44659000
2004-08-20,101.01,109.08,100.50,108.310,22834300,0,1,50.661387,54.708881,50.405597,54.322689,22834300
2004-08-23,110.76,113.48,109.05,109.400,18256100,0,1,55.551482,56.915693,54.693835,54.869377,18256100
2004-08-24,111.24,111.60,103.57,104.870,15247300,0,1,55.792225,55.972783,51.945350,52.597363,15247300
2004-08-25,104.76,108.00,103.88,106.000,9188600,0,1,52.542193,54.167209,52.100830,53.164113,9188600

In [3]:
# High-low percentage
df['HL_PCT'] = (df['Adj. High'] - df['Adj. Close']) / df['Adj. Close'] * 100

# Percentage change ((new - old) / old * 100)
df['PCT_change'] = (df['Adj. Close'] - df['Adj. Open']) / df['Adj. Open'] * 100

# Define useful columns
columns = [
    'Adj. Close',
    'Adj. Volume',
    'HL_PCT',
    'PCT_change',
]

df = df[columns]

df.head()

            Adj. Close  Adj. Volume    HL_PCT  PCT_change
Date
2004-08-19   50.322842     44659000  3.712563    0.324968
2004-08-20   54.322689     22834300  0.710922    7.227007
2004-08-23   54.869377     18256100  3.729433   -1.227880
2004-08-24   52.597363     15247300  6.417469   -5.726357
2004-08-25   53.164113      9188600  1.886792    1.183658

In [4]:
forecast_col = 'Adj. Close'

# fill column to prevent missing data
df.fillna(-99999, inplace=True)

import math
forecast_out = int(math.ceil(0.01*len(df)))

# set the label to the shift of the forecast col
df['label'] = df[forecast_col].shift(-forecast_out)
df.dropna(inplace=True)
df.head()

            Adj. Close  Adj. Volume    HL_PCT  PCT_change      label
Date
2004-08-19   50.322842     44659000  3.712563    0.324968  69.399229
2004-08-20   54.322689     22834300  0.710922    7.227007  68.752232
2004-08-23   54.869377     18256100  3.729433   -1.227880  69.639972
2004-08-24   52.597363     15247300  6.417469   -5.726357  69.078238
2004-08-25   53.164113      9188600  1.886792    1.183658  67.839414